body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #f7f1f1;
}

header {
    background-color: #e15f0e;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo {
    height: 70px;
}

nav {
    display:flex
}

.nav-list {
    font-family: 'monaco', monospace;
    font-size: 1.0em;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

li {
    border: double;
    padding: .5em;
}

li a {
    
    text-decoration: underline;
    color: #f6efef;
    font-weight: bold;
    cursor: pointer;
}
.hero {
    position: relative;
    text-align: center;
    padding: 50px 20px;
    background-image: url("assets/background.webp");
    background-size: cover;
    background-position: center;
    color: #ff9558;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none; 
}

.hero h1 {
    font-size: 2.5em;
    color: #fdb181;
    text-shadow: 2px 2px #e15f0e;
    
}

.hero strong {
    color:#e15f0e;
    text-shadow: 2px 2px #fdb181;
}

.hero img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: solid;
    border-width: 7px;
    margin: 20px 0;
    filter: brightness(100%);
}

.hero form {
    font-family: 'monaco', monospace;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

label {
    font-family: 'monaco', monospace;
    font-size: 1.4em;
    color:#fdb181
}

input {
    height: 3.0em;
    width: 26.6em;
}

.hero button {
    padding: 10px 20px;
    background-color: #e15f0e;
    border: none;
    height: 3em;
    width: 20em;
    font-size: large;
    font-family: 'monaco', monospace;
    color: #ffffff;
    cursor: pointer;
}

.emmaline {
    position: relative;
    text-align: center;
    padding: 50px 20px;
    background-image: url("assets/background.webp");
    background-size: cover;
    background-position: center;
    color: #ff9558;
    z-index: 1;
}

.emmaline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none; 
}

.emmaline h1 {
    font-size: 2.5em;
    color: #fdb181;
    text-shadow: 2px 2px #e15f0e;
    
}

.emmaline strong {
    color:#e15f0e;
    text-shadow: 2px 2px #fdb181;
}

.emmaline img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid;
    border-width: 7px;
    margin: 20px 0;
    filter: brightness(100%);
}

.emmaline button {
    padding: 10px 20px;
    background-color: #e15f0e;
    border: none;
    height: 3em;
    width: 20em;
    font-size: large;
    font-family: 'monaco', monospace;
    color: #ffffff;
    cursor: pointer;
}

.emmaline form {
    font-family: 'monaco', monospace;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 20px;
    background-color: #ffa390;
}

.cat-info {
    text-align: center;
}

.cat-info img {
    border-radius: 50%;
    width: 195px;
    height: 195px;
    border: double;
    border-color:#e15f0e;
    border-width: thick;
}

.cat-info h2 {
    font-family: 'Monaco', monospace;
    font-size: 1.5em;
    margin: 10px 0;
}

.cat-info p {
    font-family: 'monaco', monospace;
    font-size: 1em;
    margin: 20px 5px;
    text-align: left;
    padding: 8px;
}

.cat-info button {
    background-color: #e15f0e;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #f8f3f3;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #ff9558 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    
    .cat-info button:focus {
    outline: 0;
    }
    
    .cat-info button:after {
    content: '';
    position: absolute;
    border: 1px solid #E5E7EB;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    }
    
.cat-info button:hover:after {
    bottom: 2px;
    left: 2px;
}
    
@media (min-width: 768px) {
    .cat-info button {
        padding: .75rem 3rem;
        font-size: 1.25rem;
        margin: 1px;
        width: 16.0em;
    }
}

h3 {
    font-size: 1.0em;
    margin: 10px 0;    
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2.5em;
    background: #959595

}

section h3 {
    font-family: 'monaco', monospace;
    font-size: 1.3em;
}

footer div {
    display: flex;
    justify-content: space-between;
}

footer div img {
    height: 50px;
    padding: 0.3em;
    margin: 0.2em;
    border: solid;
    border-width: thick;
    border-radius: 10%;  
    background-color: #ffa390;
}

.hidden {
    display: none;
}